/* 
Name: Dre Kendall, Student Number: 8703081
Course: IT support Web Foundations, Course code: PROG1247-255-Sec2
Instructor: Vanzi, Andria 
*/ 

html {
    font: italic small-caps bold 13px/1.5 "Helvetica Neue", Arial, sans-serif; 
    background-color: #5eb2dd; 
}

body { 
    max-width: 50px;
    margin: 0 auto;
    padding: 2rem auto;
    border: 2rem solid #000000;
    background-color:#5eb2dd;
}

header {
    text-align:center;
    background:linear-gradient(90 deg, #5eb2dd, #01567a);
    color: #000000;
    font-size: 2rem;

}
footer { 
    text-align: center; 
    background: linear-gradient(90 deg, #5eb2dd, #01567a); 
    color: #ffffff;
    font-size: 2rem;
}

main {
    width: 70%;
    float: left;
    padding: 2rem;
    background-color: #ffffff;
}

aside { 
    width: 30%;
    float: right;
    padding: 2rem;
    background-color: #5eb2dd;
}

h2 {
    font-variant: small-caps;
    font-style: normal;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    color: black; 
    margin-bottom: 2rem;
}

blockquote { 
    font-style:italic;
    background-color: #ffffff;
    padding: 2rem;
    border-left: 1rem solid #5eb2dd;
    width: fit-content;
    margin: 2rem auto;
}

figure { 
    border-color: #ffffff;
    border: 2rem;
    border-radius: 2rem;
    padding: 1rem;
    width: fit-content;
    margin: 1rem auto;
}

img { 
    display: block;
    width: max-content;
    border: 2rem;
    border-radius: 1.5rem;
    margin: 0 auto;
}

figcaption { 
    font-size: medium;
    font-variant: small-caps;
    color: #000000;
    text-align: center;
    margin-top: 1rem;
}

quote { 
    border:#5eb2dd 2rem;
    box-shadow: #0000;
    width: 90%;
    margin: auto 2rem;
    padding: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #000000;
}

iframe { 
    display: block;
    margin: 4rem auto;
    width: 90%;
    height: auto;
    border: 1rem #5eb2dd;
}

a:visited { 
    color: #5eb2dd;
}

a:hover { 
    text-decoration: underline;
    color: #5eb2dd;
}

a:active { 
    color: #d0e8ff;
}

table { 
    width: 100%;
}

th { 
text-align: center;
font-weight: bold;
font-variant: small-caps;
color: #ffffff;
background-color: #5eb2dd;
padding: 1rem;
}

td { 
    padding: 2rem;
    border: 2rem;
}
tr:hover { 
    background-color: #5eb2dd;
}

.form-label { 
    font-variant: small-caps;
    font-weight: bold;
    width: 10rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
}

.form-control { 
padding: 1rem;
border-radius: 2rem;
border: 2rem #5eb2dd;
width: 30%;
margin: 2rem;
font-size: 2rem;
font-style: normal;
}

button { 
    padding: 1rem; 
    border: #ffffff;
    border-radius: 2rem;
    cursor: auto;
    border-color: #5eb2dd;   
}

button:hover { 
    background-color: #5eb2dd;
}

html { 
    font-size: larger;
}
main { 
    width: max-content;
    padding: 1rem;
}

aside { 
    width: max-content;
    padding: 1rem;
}








